@page "/songs/create"
@using PRMusic_UI.Services.Contracts
@inject NavigationManager _navigationManager 
@inject ISongService _repo




@if(song == null){
<form @onsubmit="CreateSong">
  <label for="fname">Title: </label>
  <input type="text" id="fname" name="fname" @bind-value="newSong.Title"><br>
  <label for="lname">Album: </label>
  <input type="text" id="lname" name="lname" @bind-value="newSong.Album" ><br>
   <label for="lname">Artist: </label>
  <input type="text" id="lname" name="lname" @bind-value="newSong.Artist" ><br>
   <label for="lname">Genre: </label>
  <input type="text" id="lname" name="lname" @bind-value="newSong.Genre" ><br>
  
  <input type="submit" value="Submit">
</form>
}




@if(response != null)
{
    <h3>@response</h3>
}


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>


@code{

    [Parameter]

    public Guid Id { get; set; }

    public SongDto song { get; set; }

    public SongDto newSong = new SongDto();

    public string? response { get; set; } 


    protected override async Task OnInitializedAsync()
    {
        song = null;
    }
   


    protected async Task<string?> CreateSong()
     {
        newSong = await _repo.CreateSong(newSong);

        if(newSong != null)
        {
            response = "Record could not be created";
        }
        return response = "Record was successfully created";
    }


}